streamlit
streamlit-webrtc
streamlit_autorefresh
opencv-python
mediapipe
numpy
openai
python-dotenv
pillow
pdf2image
PyPDF2
paddlepaddle
paddleocr
Ultralytics
fastapi
uvicorn
requests
sentence-transformers
conda-forge poppler